.addTodo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 1.2rem 0;
  text-align: left;
}
.addTodo h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
}
.kg-row input {
  width: 100%;
  padding: 4px 15px;
  border-radius: 100px;
  border: none;
  line-height: 30px;
}
input[type="date"] {
  cursor: pointer;
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.kg-row {
  display: flex;
  align-items: center;
  flex-shrink: 2;
}
.add-btn {
  border: none;
  border-radius: 10px;
}