.todosList h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: left;
}
.list-row {
  text-align: left;
  align-items: center;
  margin: 10px 0;
}
.del-btn {
  width: fit-content;
}
.noDisplay {
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}
.name-display {
  display: flex;
  gap: 10px;
}
.completed {
  text-decoration: line-through;
}
