.todosList{
  margin: 0 0.5rem;
}
.todosList h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: left;
}
.list-row {
  text-align: left;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
.del-btn {
  width: fit-content;
}
.noDisplay {
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}
.name-display {
  display: flex;
  gap: 10px;
  padding: 0;
}
.completed {
  text-decoration: line-through;
}
.del-btn-container{
  text-align: center;
}
