.todoContainer {
  text-align: center;
  min-height: 80vh;
  padding: 10px;
  margin: 20px 5px;
  border-radius: 12px;
  background-color: rgb(237 233 254);
}
.nav{
  display: flex;
  justify-content: center;
  background-color: rgb(49 46 129);
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  padding: 8px 0;
}
@media (min-width: 768px) {
  .todoContainer {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
  }
}
.heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.separate {
  background-color: black;
  height: 1.3px;
  opacity: 0.15;
  margin: 1.2rem 0.5rem;
}
.fin-show {
  display: flex;
  gap: 5px;
  margin: 0 0.5rem;
}